body{
    align-content: center;
    background-color: darkred;
    color: rgb(255, 255, 255);
}
form{
    background-color: rgb(197, 133, 178);
    color: rgb(255, 213, 213);
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    align-items: center;
}

label{
    display: block;
}

input{
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"]{
    background-color: #000000;
    color: rgb(255, 213, 213);
    border: none;
    margin-top: 15px;
    width: 100%;
}

input[type="submit"]:hover{
    background-color: blue;
}
.form-check-input{
    align-items:center;
}
.form-check{
    align-content: flex-start;
    background-color: rgb(82, 60, 60);
    border-radius: 20px;
    width: 100px;
    padding: 40px;
}